.hello {
    min-width:680px;
    max-width:850px;
    width:70%;
    margin: 0 auto;
    border:1px solid #333;
    position: relative; //stavio sam ovde posto je tu dodata sirina (za button)
    font-family: 'Helvetica';
    border-radius: 10px;
    h1{
        background-color:rgb(70, 161, 131);
        color: #fff;
        margin:0;
        padding:20px 0;
        text-align: center;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        background-image: url('../../assets/cardio.svg');
        background-size:100px;
        background-repeat: no-repeat;
        background-position: 15px -10px;
    }
    #titles {
        text-transform: uppercase;
        display:flex;
        justify-content: space-between;
        padding:14px 15px;
        border-bottom:1px solid gray;
        font-weight: bold;
        span {
            display:inline-block;
            width:100px;
            padding:5px 5px 5px 5px;
            &:nth-child(1){
                width:25%;
            }
        }
    }
    ul {
        padding:0;
        margin:0;
        padding:20px 34px;
        li{
            list-style-type: none;
            margin:0;
            padding:0;
            display:flex;
            justify-content: space-between;
            position:relative;
            padding-top:5px;
            span {
                display:inline-block;
                width:100px;
                padding:5px 0 2px 5px;
                border-bottom: 1px solid gray;
                &:nth-child(1){
                    width:25%;
                }
            }
            button {
                position: absolute;
                right:-32px;
                bottom:0px;
                color:red;
                background-color: rgba(0,0,0,0);
                font-size: 20px;
                border:none;
                transition: 0.3s transform;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.5);
                }
            }
        }
    }
    #totals {
        display:flex;
        justify-content: space-between;
        background-color:lightgray;
        padding:20px 24px;
        span {
            display: inline-block;
            padding-left: 5px;
            width:100px;
            font-weight: bold;
            font-size:20px;
            &:nth-child(1){
                width:25%;
                font-weight: normal;
            }
        }
    }
    #newItem {
        display: flex;
        justify-content: space-between;
        padding:20px 20px 30px;
        input {
            border:none;
            border-bottom:1px solid #333;
            width:100px;
            padding:5px 0 5px 10px;
            display:inline-block;
            &:nth-child(1){
                width:25%;
            }
            &:focus {
                outline:none;
            }
        }
        button {
            position:absolute;
            right:-22px;
            bottom:-22px;
            border-radius: 50%;
            background-color: rgb(70, 161, 131);
            width:60px;
            height:60px;
            color:#fff;
            font-size:30px;
            border:none;
            &:hover {
                background-color:rgb(93, 218, 176);
                cursor:pointer;
            }
        }
    }
}